<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<%= rawdb %>

<dl>
	<dt>Databases</dt>
	<dd>
		<ul>
		<% for(var i=0; i<databases.length; i++) {%>
		   <li>
		   		<b><%= databases[i].name %></b><br>
	   			Size <%= (databases[i].sizeOnDisk / 1024 / 1024) %>Mb<br>
		   		Empty: <%= 	databases[i].empty %>
		   </li>
		<% } %>
		</ul>
	</dd>
</dl>
